body {
    margin: 0;
    padding: 0;
    background-color: rgb(83, 195, 191);
  }

  #app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }

  h1, h2 {
    color: #333;
  }

  img {
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="file"] {
    margin-top: 10px;
  }